.App {
  text-align: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App img {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
}
